@page "/leave-ledger"

@using PulseApp.Protos
@using PulseApp.Constants
@using PulseApp.Helpers
@using Google.Protobuf.WellKnownTypes

@inject NavigationManager NavigationManager
@inject LeaveManager.LeaveManagerClient LeaveService
@inject CalendarManager.CalendarManagerClient CalendarService
@inject EmployeeManager.EmployeeManagerClient EmployeeService

<h1>Employees</h1>

<p>This page list the employees of the company.</p>

@if (EmployeeList == null || CalendarList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-start">
        <div class="form-group">
            <label for="attendanceType">Employee:</label>
            <select @bind="SelectedEmployeeId" @bind:event="oninput" @onchange="OnChangeEmployee" class="form-control" id="employee">
                <option value="0">[Choose]</option>
                @foreach (var employee in EmployeeList)
                {
                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="attendanceType">Calendar:</label>
            <select @bind="SelectedCalendarId" @bind:event="oninput" @onchange="OnChangeCalendar" class="form-control" id="calendar">
                <option value="0">[Choose]</option>
                @foreach (var calendar in CalendarList)
                {
                    <option value="@calendar.Id">@calendar.ToRangeString()</option>
                }
            </select>
        </div>
    </div>

    @if (EmployeeId > 0 && CalendarId > 0 && Ledger != null)
    {
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    @foreach (var type in Ledger.LeaveTypes)
                    {
                        <th>@type.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Forwarded</td>
                    @foreach (var type in Ledger.LeaveTypes)
                    {
                        <td class="text-center">@Ledger.Forward.GetValueOrNull(type.Id)</td>
                    }
                </tr>
                <tr>
                    <td>Opening</td>
                    @foreach (var type in Ledger.LeaveTypes)
                    {
                        <td class="text-center">@Ledger.Opening.GetValueOrNull(type.Id)</td>
                    }
                </tr>
                @foreach (var proto in Ledger.Leaves.ToArray())
                {
                    <tr>
                        <td>@proto.Date.ToDateTime().ToShortDateString()</td>
                        @foreach (var type in Ledger.LeaveTypes)
                        {
                            <td class="text-center">@proto.LeaveTypeCount.GetValueOrNull(type.Id)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    private EmployeeProto[] EmployeeList { get; set; }

    private CalendarProto[] CalendarList { get; set; }

    private LeaveLedgerResponse Ledger { get; set; }

    private int EmployeeId { get; set; }
    private int CalendarId { get; set; }

    private string SelectedEmployeeId { get; set; }
    private string SelectedCalendarId { get; set; }

    private bool ShowModal { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await GetEmployees();
        await GetCalendars();

        SelectedEmployeeId = "0";
        SelectedCalendarId = "0";
    }

    private async Task GetEmployees()
    {
        var request = new EmptyRequest();
        var response = await EmployeeService.GetEmployeesAsync(request);
        EmployeeList = response.Employees.ToArray();
    }

    private async Task GetCalendars()
    {
        var request = new EmptyRequest();
        var response = await CalendarService.GetCalendarsAsync(request);
        CalendarList = response.Calendars.ToArray();
    }

    private async Task OnChangeEmployee(ChangeEventArgs e)
    {
        EmployeeId = int.Parse(SelectedEmployeeId);
        await LoadLeaves();
    }

    private async Task OnChangeCalendar(ChangeEventArgs e)
    {
        CalendarId = int.Parse(SelectedCalendarId);
        await LoadLeaves();
    }

    private async Task LoadLeaves()
    {
        if (EmployeeId == 0 || CalendarId == 0)
        {
            Ledger = null;
        }
        else
        {
            var request = new LeaveLedgerRequest() { CalendarId = CalendarId, EmployeeId = EmployeeId };
            Ledger = await LeaveService.GetLeaveLedgerAsync(request);
        }
    }

    //private void GoAtEmployee(int id)
    //{
    //    NavigationManager.NavigateTo($"/employees/{id}");
    //}

    //private void GoAtAttendance(int id)
    //{
    //    NavigationManager.NavigateTo($"/employees/{id}/attendance/{DateTime.Today.Year}");
    //}
}
