@page "/calendar"

@using PulseApp.Data
@using PulseApp.Constants

@inject NavigationManager NavigationManager
@inject CalendarService CalendarService
@inject AttendanceService AttendanceService

<h1>Calendar</h1>

<p>This page shows calendar to manage public holiday, off days and week ends.</p>

@if (CalendarDays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-start">
        <div class="form-group">
            <label for="attendanceType">Calendar:</label>
            <select @bind="SelectedCalendarId" @bind:event="oninput" @onchange="OnChangeCalendar" class="form-control" id="calendar">
                @foreach (var calendar in CalendarList)
                {
                    <option value="@calendar.Id">@calendar.StartDate - @calendar.EndDate</option>
                }
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button @onclick="OnPrevious" type="button" class="btn btn-link">Previous</button>
        <h2 class="text-right">@Year</h2>
        <button @onclick="OnNext" type="button" class="btn btn-link">Next</button>
    </div>

    if (CalendarDays.Length > 0)
    {
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th style="width: 13.2%">Month</th>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <th style="width: 2.8%" class="text-center">@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var month in CalendarDays)
                {
                    <tr>
                        <td>@month.MonthName</td>
                        @for (int i = 1; i < month.StartDay; i++)
                        {
                            <td class="table-secondary"></td>
                        }
                        @for (int i = month.StartDay; i <= month.Days; i++)
                        {
                            var day = i;
                            month.CalendarDays.TryGetValue(i, out CalendarDayDetailDto detail);
                            <td class="text-center p-0">
                                <div class="d-flex flex-column align-content-center" style="height: 100%;">
                                    <div style="cursor: pointer;" class="mt-auto @GetClass(month.OffDays, i, "detail") align-self-stretch"
                                         @onclick="() => OnShowModal(Id, day, month.Month, month.Year, detail?.DayTypeId, detail?.Comments)">
                                        <small>c</small>
                                    </div>
                                </div>
                            </td>
                        }
                        @for (int i = month.Days + 1; i <= 31; i++)
                        {
                            <td class="table-secondary"></td>
                        }
                    </tr>

                }
            </tbody>
        </table>

    }
    else
    {
        <div>No record found for selected year.</div>
    }

    @if (ShowModal && Current != null)
    {
        <CalendarDay Current="Current" OnCancelCallback="OnCancelModal" OnConfirmCallback="OnConfirmModal"></CalendarDay>
    }
}

@code {

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int Year { get; set; }

    private CalendarDto[] CalendarList { get; set; }

    private CalendayDayMonthDto[] CalendarDays { get; set; }

    private string SelectedCalendarId { get; set; }

    private int SelectedCalendarIndex { get; set; }

    private bool ShowModal { get; set; }

    private CalendarDayDto Current { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetCalendars();
        await LoadCurrent();

        SelectedCalendarId = Id.ToString();
        var calendar = CalendarList.Single(c => c.Id == Id);
        SelectedCalendarIndex = Array.IndexOf(CalendarList, calendar);
    }

    private async Task LoadCurrent()
    {
        await Get();
    }

    private async Task Get()
    {
        CalendarDays = await CalendarService.GetCalendarDaysAsync(Id);
    }

    private async Task GetCalendars()
    {
        CalendarList = await CalendarService.GetCalendarsAsync();
    }


    private async Task MarkDay(CalendarDayDto day)
    {
        await CalendarService.MarkDayAsync(day.CalendarId, day.Year, day.Month, day.Day, day.DayTypeId, day.Comments);
        await Get();
    }

    private async Task OnNext()
    {
        if (SelectedCalendarIndex < CalendarList.Length - 1)
        {
            this.SelectedCalendarIndex = SelectedCalendarIndex + 1;
            await Go(CalendarList[SelectedCalendarIndex].Id);
        }
    }

    private async Task OnPrevious()
    {
        if (SelectedCalendarIndex > 0)
        {
            this.SelectedCalendarIndex = SelectedCalendarIndex - 1;
            await Go(CalendarList[SelectedCalendarIndex].Id);
        }

    }

    private async Task Go(int id)
    {
        NavigationManager.NavigateTo($"/calendars/{id}");
        SelectedCalendarId = id.ToString();
        await LoadCurrent();
    }

    private async Task OnChangeCalendar(ChangeEventArgs e)
    {
        var id = int.Parse(SelectedCalendarId);
        await Go(id);
    }

    private void OnShowModal(int calendarId, int day, int month, int year, int? dayTypeId, string comments = null)
    {
        Current = new CalendarDayDto
        {
            CalendarId = calendarId,
            Day = day,
            Month = month,
            Year = year,
            DayTypeId = dayTypeId.GetValueOrDefault(DayTypes.Holiday),
            Comments = comments,
        };

        ShowModal = true;
    }

    private void OnCancelModal()
    {
        Current = null;
        ShowModal = false;
    }

    private async Task OnConfirmModal()
    {
        await MarkDay(Current);
        ShowModal = false;
    }

    private string GetClass(int[] offDays, int day, string position)
    {
        switch (position)
        {
            case "main":
                return offDays.Contains(day) ? "btn-secondary" :
                                                //day == today ? "btn-info" :
                                                "btn-light";
            case "detail":
                return offDays.Contains(day) ? "btn-secondary" :
                                                //day == today ? "btn-secondary" :
                                                "btn-warning";
            case "header":
                return offDays.Contains(day) ? "table-secondary" :
                                                //day == today ? "table-info" :
                                                string.Empty;
        }

        return string.Empty;
    }
}
